html{
    text-align: center;
}

.bg-header{
    background-color: rgb(219, 248, 224)
}
footer{
    background-color: rgb(219, 248, 224);
    padding-bottom: 30px;
}
.tt-footer{
    padding-top:30px;
}